# DATA QUALITY EXPLORATION

Princípio de limpeza de dados baseado no tipo de dados das variáveis.

1. TIPO DE DADO
    * Verificação manual do tipo de dado (desejado)
    * Estratificação dos campos pelo tipo de dados
2. SANITIZAÇÃO
    * Aplicação de funções de sanitização segundo o tipo de dado
    * Armazenar os dados alterados
    * Visualizar os resgistros problemáticos

**DATA CLEANING**

+ Tipagem
+ Colunas


* Valores Faltantes
* Outliers
* Padronização / formatação
* Limpeza
* Duplicatas

|TIPO DE DADO| Valores Faltantes | Outliers | Padronização / formatação | Limpeza |Dupliacatas
|------------|-------------------|----------|---------------------------| --------|-----------|
|TEXTUAL     | True              | < 3 char | Tipo de caractere e separação (escolher um padrão)| Caracteres especiais, tags HTML|
|INT         | True              | contexto | False                     | Not a number | False          |
|FLOAT       | True              | conexto  | separador decimal e precisão| Not a number| False
|ID
|CATEGORICA

In [6]:
import pandas as pd

# EXTRAÇÃO DE ARQUIVOS LOCAIS (USAR O BANCO DE DADOS)

reviews = pd.read_csv('./data_aquisition/beta/reviews.csv.gz').shape
calendar = pd.read_csv('data_aquisition/beta/calendar.csv.gz').shape
listings = pd.read_csv('data_aquisition/beta/listings.csv.gz').shape

data_shape = (
    reviews,
    calendar,
    listings)
pd.DataFrame(data_shape, columns=['ROWS', 'COLUMNS'], index=['reviews','calendar','listings'])

              ROWS  COLUMNS
reviews     637307        6
calendar  11666976        7
listings     31964       75

In [7]:
listings = pd.read_csv('data_aquisition/beta/listings.csv.gz')

In [8]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31964 entries, 0 to 31963
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            31964 non-null  int64
 1   listing_url                                   31964 non-null  object
 2   scrape_id                                     31964 non-null  int64
 3   last_scraped                                  31964 non-null  object
 4   source                                        31964 non-null  object
 5   name                                          31964 non-null  object
 6   description                                   31305 non-null  object
 7   neighborhood_overview                         16739 non-null  object
 8   picture_url                                   31964 non-null  object
 9   host_id                                       31964 non-null  int64
 10  host_url                                      31964 non-null  object
 11  host_name                                     31961 non-null  object
 12  host_since                                    31961 non-null  object
 13  host_location                                 25752 non-null  object
 14  host_about                                    15843 non-null  object
 15  host_response_time                            25256 non-null  object
 16  host_response_rate                            25256 non-null  object
 17  host_acceptance_rate                          27183 non-null  object
 18  host_is_superhost                             31308 non-null  object
 19  host_thumbnail_url                            31961 non-null  object
 20  host_picture_url                              31961 non-null  object
 21  host_neighbourhood                            23902 non-null  object
 22  host_listings_count                           31961 non-null  float64
 23  host_total_listings_count                     31961 non-null  float64
 24  host_verifications                            31961 non-null  object
 25  host_has_profile_pic                          31961 non-null  object
 26  host_identity_verified                        31961 non-null  object
 27  neighbourhood                                 16739 non-null  object
 28  neighbourhood_cleansed                        31964 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      31964 non-null  float64
 31  longitude                                     31964 non-null  float64
 32  property_type                                 31964 non-null  object
 33  room_type                                     31964 non-null  object
 34  accommodates                                  31964 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                31936 non-null  object
 37  bedrooms                                      24617 non-null  float64
 38  beds                                          31789 non-null  float64
 39  amenities                                     31964 non-null  object
 40  price                                         31964 non-null  object
 41  minimum_nights                                31964 non-null  int64
 42  maximum_nights                                31964 non-null  int64
 43  minimum_minimum_nights                        31964 non-null  int64
 44  maximum_minimum_nights                        31964 non-null  int64
 45  minimum_maximum_nights                        31964 non-null  int64
 46  maximum_maximum_nights                        31964 non-null  int64
 47  minimum_nights_avg_ntm                        31964 non-null  float64
 48  maximum_nights_avg_ntm                        31964 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              31964 non-null  object
 51  availability_30                               31964 non-null  int64
 52  availability_60                               31964 non-null  int64
 53  availability_90                               31964 non-null  int64
 54  availability_365                              31964 non-null  int64
 55  calendar_last_scraped                         31964 non-null  object
 56  number_of_reviews                             31964 non-null  int64
 57  number_of_reviews_ltm                         31964 non-null  int64
 58  number_of_reviews_l30d                        31964 non-null  int64
 59  first_review                                  23824 non-null  object
 60  last_review                                   23824 non-null  object
 61  review_scores_rating                          23824 non-null  float64
 62  review_scores_accuracy                        23667 non-null  float64
 63  review_scores_cleanliness                     23668 non-null  float64
 64  review_scores_checkin                         23668 non-null  float64
 65  review_scores_communication                   23667 non-null  float64
 66  review_scores_location                        23665 non-null  float64
 67  review_scores_value                           23667 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              31964 non-null  object
 70  calculated_host_listings_count                31964 non-null  int64
 71  calculated_host_listings_count_entire_homes   31964 non-null  int64
 72  calculated_host_listings_count_private_rooms  31964 non-null  int64
 73  calculated_host_listings_count_shared_rooms   31964 non-null  int64
 74  reviews_per_month                             23824 non-null  float64
dtypes: float64(20), int64(21), object(34)
memory usage: 18.3+ MB

In [ ]:
# Separçaão das colunas por tipo de dado
columns_types = listings.dtypes
dtypes_list = list(columns_types.unique())
columns_types = columns_types.sort_values().to_frame().rename(columns={0: 'dtype'}).reset_index().groupby('dtype')

for i in dtypes_list:
    display(columns_types.get_group(i))

                                           index  dtype
0                                             id  int64
1    calculated_host_listings_count_shared_rooms  int64
2                                 minimum_nights  int64
3                                 maximum_nights  int64
4                         minimum_minimum_nights  int64
5                         maximum_minimum_nights  int64
6                         minimum_maximum_nights  int64
7                         maximum_maximum_nights  int64
8                                availability_30  int64
9                                availability_60  int64
10                               availability_90  int64
11                              availability_365  int64
12                         number_of_reviews_ltm  int64
13                        number_of_reviews_l30d  int64
14                             number_of_reviews  int64
15                                  accommodates  int64
16  calculated_host_listings_count_private_rooms  int64
17                                     scrape_id  int64
18                                       host_id  int64
19   calculated_host_listings_count_entire_homes  int64
20                calculated_host_listings_count  int64

                     index   dtype
41            first_review  object
42             last_review  object
43           host_location  object
44              host_since  object
45               host_name  object
46                host_url  object
47   neighborhood_overview  object
48              host_about  object
49             description  object
50                    name  object
51        instant_bookable  object
52                  source  object
53            last_scraped  object
54             listing_url  object
55             picture_url  object
56      host_response_time  object
57           property_type  object
58   calendar_last_scraped  object
59          bathrooms_text  object
60               amenities  object
61                   price  object
62  neighbourhood_cleansed  object
63           neighbourhood  object
64  host_identity_verified  object
65      host_response_rate  object
66    host_has_profile_pic  object
67      host_neighbourhood  object
68        has_availability  object
69        host_picture_url  object
70      host_thumbnail_url  object
71       host_is_superhost  object
72               room_type  object
73      host_verifications  object
74    host_acceptance_rate  object

                           index    dtype
21                          beds  float64
22                       license  float64
23           review_scores_value  float64
24        review_scores_accuracy  float64
25        minimum_nights_avg_ntm  float64
26        maximum_nights_avg_ntm  float64
27              calendar_updated  float64
28   review_scores_communication  float64
29         review_scores_checkin  float64
30     review_scores_cleanliness  float64
31                     bathrooms  float64
32          review_scores_rating  float64
33        review_scores_location  float64
34                      bedrooms  float64
35             reviews_per_month  float64
36                     longitude  float64
37                      latitude  float64
38  neighbourhood_group_cleansed  float64
39           host_listings_count  float64
40     host_total_listings_count  float64

In [ ]:
# DUPLICADOS
def get_duplicated(df: pd.DataFrame, column: str) -> pd.DataFrame:
    return df[df[column].duplicated()]

def monitor_duplicated(df: pd.DataFrame, column: str):
    duplicated_rows = get_duplicated(df, column)

    if len(duplicated_rows) == 0:
        return None
    else:
        return duplicated_rows

(None, 'id')

In [ ]:
# 
cleaning_monitor = {}

column_name = 'id'
sanitizing_duplicated = monitor_duplicated(listings, column_name)
cleaning_monitor[column_name] = {}
if sanitizing_duplicated == None:
    cleaning_monitor[column_name]['duplicated'] = True
else:
    cleaning_monitor[column_name]['duplicated'] = sanitizing_duplicated

In [ ]:
# TESTES
# get_duplicated(listings, 'id')
monitor_duplicated(listings, 'id')